<div class="card-sl row m-0 mb-3" [ngClass]="isList ? 'listView' : 'gridView'">
  <div class="card-image p-0" [ngClass]="isList ? 'col-lg-3' : 'col-lg-12'">
    <img class="responsive" [src]="item?.Thumbnail" />
    <a class="card-action"  routerLink="/about"
      ><img [src]="item.IsEvent ? '/assets/icons/1.png' : '/assets/icons/2.png'" class="fa fa-heart"
    /></a>
  </div>
  <div [ngClass]="isList ? 'col-lg-6' : 'col-lg-12'" class="p-0">
    <div class="card-heading">{{ item?.Name }}</div>
    <div class="card-heading1">{{ item.IsEvent ? (date | date: 'medium') : '' }}</div>
    <div class="card-text">
      {{ item?.Description }}
    </div>
    <a class="learn">SimpliLearn</a>
    <app-rating [(ngModel)]="item.rating" [max]="5" class="card-text"> </app-rating>

    <div class="card-text">
      <button type="button" class="card-text btn btn-outline-success mb-1 text-success btn-footer">{{item.ContentType}}</button>
    </div>
  </div>

  <div [ngClass]="isList ? 'col-lg-3' : 'col-lg-12'" class="p-0">
    <a class="card-button pl-2"
      ><button  routerLink="/about" type="button" class="btn btn-link">Details</button>
      <i [ngClass]="isList ? 'float-start' : ''" class="fa fa-ellipsis-v"></i
    ></a>
  </div>
</div>
